.product{
    display: flex;
    margin-top : 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-image{
    padding-right: 20px;
}
.main-button{
    background-color: goldenrod;
    padding: 7px 30px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}