.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 8px;
}
nav a:hover{
    color: aqua;
}

.cart-icon{
    margin: 5px auto;
    padding: 4px;
    color: #fff;
    cursor: pointer;
}
.cart-icon a{
    padding: 5px;
}
.user-dashboard{
    position: relative;
}
.user-btn{
    margin-right: 150px;
}
.login-btn{
    font-size: 18px;
    font-weight: 600;
    width: 100px;
    height: 40px;
    background-color: #bdb7b7;
}
.userImage{
    width: 45px;
    height: 45px;
    background-image: url('../../images/cv.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.dashboard-menu{
    position: absolute;
    width: 200px;
    background-color: black;
    padding: 0;
    margin: 0;
    list-style: none;
    /* display: none; */
}
.dashboard-menu li{
    font-size: 18px;
    color: #fff;
    padding: 5px 20px;
    text-align: left;
    cursor: pointer;
}
.dashboard-menu li:hover{
    background-color: #c02020
}


